[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
yapf = "*"
pylint = "*"
mypy = "*"
docopt = "*"
buildlib = "==2.3.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
